* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.zoom {
    padding: 50px;
    background-color: transparent;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.col {
    flex-basis: 50%;
}

.title {
    width: 100%;
    text-align: center;
    align-items: center;
    align-content: center;
    flex-basis: 50%;
    display: flex;
    height: 50%;
    align-items: center;
}

.title h2 {
    position: relative;
    color: #FFFFFF;
    font-weight: 600;
    letter-spacing: 1px;
}

.services {
    align-items: center;
    flex-basis: 50%;
}

.services .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.services .content .services8x {
    border-radius: 30px;
    padding: 40px 20px;
    max-width: 340px;
    margin: 20px;
    transition: 0.5s;
    text-align: center;
    background: transparent;
    box-sizing: border-box;
}

.services .content .services8x:hover {
    box-shadow: 0 0 20px 0px rgb(255, 255, 255);
}

h3 {
    color: #FFFFFF;
}

h3::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #9F49F4;
    /*https://www.colorschemer.com/css-color-codes/#:~:text=CSS%20Color%20Codes%20%7C%20CSS%20Color%20Picker%20,%20rgb%20%28250%2C128%2C114%29%20%2050%20more%20rows%20*/
    display: block;
    margin: auto;
    transition: 0.5s;
}

h3:hover::after {
    width: 300px;
}

h2 {
    color: #FFFFFF;
}

p {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 15px;
}

h1 {
    color: #ffffff;
    font-size: 90px;
}

span {
    align-items: left;
    align-content: stretch;
    color: #fcfc;
}